
<h1 style="font-size:50px;text-align:center; color:#blue">HOGAR COLOMBIA</h1>

<div class="parallax1"></div>

<div style="height:700px; font-size:40px; text-align:center;
padding-top:22px; background-color:#ff0089;">
¿Por qué lo usamos? por que villa lo chupa
Es un hecho establecido hace demasiado tiempo que un lector se <br>distraerá con el contenido del texto de un sitio
</div>
<div class="parallax2"></div>
<div style="height:700px; font-size:40px; text-align:center;
padding-top:22px; background-color:#ff0089;">
¿Por qué lo usamos? por que villa lo chupa
Es un hecho establecido hace demasiado tiempo que un lector se <br>distraerá con el contenido del texto de un sitio
</div>

<div class="parallax3"></div>
<div style="height:700px; font-size:40px; text-align:center;
padding-top:22px; background-color:#ff0089;">
¿Por qué lo usamos? por que villa lo chupa
Es un hecho establecido hace demasiado tiempo que un lector se <br>distraerá con el contenido del texto de un sitio
</div>