#login-page {
    width: 500px;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.warning-validation {
    color: red;
}

.parallax1 {
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2017/06/20/1092639/75e79a54b546c4daa0e38c87f1b34369-700.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}