#panell{
    background-color: blanchedalmond;
    margin-top: 100px;
    padding: 0px;
  }
  #loginbtn{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  #title{
    background-color: #1eca2d;
    color: rgb(0, 0, 0);
    padding: 8px;
    margin-top: 0px
  }
  form{
    padding:0px;
    border-radius: 3px;
    box-sizing: border-box;
  }
  #username,#password{
   margin-left: 20px;
   margin-right: 20px;
  }
  #checkbox{
   margin-left: 30px;
  }

  .parallax1
  {
      background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2017/06/20/1092639/75e79a54b546c4daa0e38c87f1b34369-700.jpg");
      min-height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  

 